<template>
  <div class="navgition flex justify-center items-center relative" ref="appRef">
    <div class="absolute bg w-[967px] h-[832px] text-center">
      <div class="font-[400] text-[86px] text-[#00FFD8] leading-[112px] absolute top-[400px]">招商驾驶舱</div>
      <div class="absolute right-[14px] top-[180px]">
        <div class="flex item-center mb-[50px] cursor-pointer">
          <div class="font-[400] text-[36px] text-[#10FCFF] leading-[66px]" @click="handleRouter('investment')">招商数据</div>
          <div class="text-[48px] text-[#E1F2FC] leading-[66px]">01</div>
        </div>
        <div class="flex item-center mb-[50px] justify-betwee ml-[60px] cursor-pointer">
          <div class="font-[400] text-[36px] text-[#10FCFF] leading-[66px]" @click="handleRouter('industry')">产业数据</div>
          <div class="text-[48px] text-[#E1F2FC] leading-[66px]">02</div>
        </div>
        <div class="flex item-center mb-[50px] justify-betwee ml-[50px] cursor-pointer">
          <div class="font-[400] text-[36px] text-[#10FCFF] leading-[66px]" @click="handleRouter('map')">产业地图</div>
          <div class="text-[48px] text-[#E1F2FC] leading-[66px]">03</div>
        </div>
        <div class="flex item-center justify-betwee ml-[35px] cursor-pointer">
          <div class="font-[400] text-[36px] text-[#10FCFF] leading-[66px]">系统设置</div>
          <div class="text-[48px] text-[#E1F2FC] leading-[66px]">04</div>
        </div>
      </div>
    </div>
    <!--登录弹窗 -->
    <el-dialog
      custom-class="navigation-dialog"
      :visible.sync="visible"
      width="30%"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :show-close="false"
      :append-to-body="true"
      :before-close="handleClose">
      <div class="flex justify-center flex-col w-full">
        <div class="w-full text-center flex justify-center">
          <img src="../../assets/images/navigition/loginIcon.png" class="w-[160px] h-[140px] mr-[40px]">
        </div>
        <div class="text-[#fff] text-[20px] text-center w-full mb-[12px]">输入密码</div>
        <div class="flex justify-between items-center">
          <el-input type="password" v-model="password"/>
          <i class="el-icon-arrow-right ml-[20px] w-[40px] h-[40px] text-[20px] leading-[40px] inline-block text-center rounded-[20px] bg-slate-300 cursor-pointer" @click="handleDialogClose"/>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import drawMixin from '../../utils/drawMixin'
var popupWindow = null;

export default{
  mixins: [drawMixin],
  name:"navigation-bar",
  data(){
    return{
      visible:false,
      password:'',
    }
  },
  mounted(){
    if(this.$route.path=='/navigation'&&localStorage.getItem("password")!='123456'){
      this.visible = true;
    }
  },
  methods:{
    handleDialogClose(){
      if(this.password=='123456'){
        localStorage.setItem("password",123456);
        this.visible = false;
      }else{
        this.$message.error("密码不正确，请重新输入")
      }
    },
    handleClose(){
      this.visible = false
    },
    handleRouter(path){
      if(path=='map'){
        if (!popupWindow || popupWindow.closed) {
          // 打开窗口的URL
          var url = 'http://map.zbzt360.cn/';
          // 打开窗口
          popupWindow = window.open(url, 'popupWindow');
        } else {
          // 窗口已打开，将它带到前台
          popupWindow.focus();
        }
      }else{
        this.$router.push(path)
      }
    }
  }
}
</script>

<style>
.navigation-dialog ,.el-dialog__wrapper{
  background-color: rgba(0,0,0,0.8);
}
</style>

<style scoped>
.navgition{
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  overflow: hidden;
}
.bg{
  background:url("../../assets/images/bg.png") center center;
  background-size: 967px 832px;
  background-position: center center;
}
</style>