<template>
	<div ref="chartRef" id="charytr" className='es-chart' class="h-[670px]"></div>
</template>

<script>
import * as echarts from 'echarts'

export default{
  name:'map-chart',
	props:{
    option:{
      type: Object,
      required: true,
      default: () => ({})
    },
    loading: Boolean
  },
  data(){
    return{
      chartRef:null,
      chart:null,
    
    }
  },
  watch: {
    "props.option": {
      handler() {
        this.setOption(this.props.option)
      },
    },
    "props.loading":{
      handler(value){
        if (!this.chart) return
        if (value) {
          this.chart.showLoading()
        } else {
          this.chart.hideLoading()
        }
      }
    }
  },
  mounted(){
    this.init()
  },
  methods:{
    init() {
      if (this.option) {
        this.chart = echarts.init(document.getElementById("charytr"))
        this.chart.setOption(this.option)
      }
    },
    setOption(option, notMerge, lazyUpdate) {
      this.chart.setOption(option, notMerge, lazyUpdate)
    },
    resize() {
      this.chart.resize()
    }
  }
}
</script>

<style  scoped>
.es-chart {
	width: 100%;
	height: 100%;
}
</style>

