<template>
  <div class="w-full h-full">
		<MapChart :option="option" />
	</div>
</template>

<script>
import MapChart from '../chart/index.vue'
// import allData from '@/assets/data/map.json'
import chinaJson from '@/assets/data/china.json'
import hotCity from '@/assets/data/hotCity.js'
import * as echarts from 'echarts'
echarts.registerMap('china', chinaJson)
let max = 6000
let min = 1
let maxSize4Pin = 100
let minSize4Pin = 1

export default{
  name:'map-canvas',
  components:{
    MapChart
  },
  data(){
    return{
      backgroundColor: '#090F27',
      colors1:["#FF3144", "#BB33FF", "#00D5FF", "#00CC66", "#0066FF"],
      colors:["255,49,68", "187,51,255", "0,213,255", "0,204,102", "0,102,255"],
      option:{
        backgroundColor: 'transparent',
        geo: {
          // type: 'map',
          map: 'china',
          regions: [{
            name: '南海诸岛', // 需要设置特殊样式的区域名
            itemStyle: {
              // 隐藏地图
              normal: {
                opacity: 0, // 为 0 时不绘制该图形
              }
            }
          }],
          // showLegendSymbol: false,
          // top: '5%',
          // bottom: '5%',
          // label: {
          //   normal: {
          //     show: true,
          //     textStyle: {
          //       color: 'rgba(249, 249, 249,1)'
          //     }
          //   },
          //   emphasis: {
          //     show: true,
          //     textStyle: {
          //       color: '#f75a00'
          //     }
          //   },
          // },
          // itemStyle: {
          //   normal: {
          //     areaColor: '#122F58',
          //     borderColor: 'white',
          //     borderType: 'dotted',
          //     borderWidth: 0.5,
          //     shadowBlur: 15,
          //     shadowColor: 'rgb(58,115,192)',
          //     shadowOffsetX: 1,
          //     shadowOffsetY: 1,
          //   },
          //   emphasis: {
          //     areaColor: '#8dd7fc',
          //     borderWidth: 2, //设置外层边框
          //     borderColor: '#66ccff',
          //     borderType: 'solid',
          //     shadowBlur: 25,
          //   }
          // },
        },
        series: [{
          type:"map",
          map:'china',
          roam: false,
          regions: [{
            name: '南海诸岛', // 需要设置特殊样式的区域名
            itemStyle: {
              // 隐藏地图
              normal: {
                opacity: 0, // 为 0 时不绘制该图形
              }
            }
          }],
          label: {
            normal: {
              show: true,
              textStyle: {
                color: 'rgba(249, 249, 249,1)'
              }
            },
            emphasis: {
              show: true,
              textStyle: {
                color: '#f75a00'
              }
            },
          },
          itemStyle: {
            normal: {
              areaColor: '#122F58',
              borderColor: 'white',
              borderType: 'dotted',
              borderWidth: 0.5,
              shadowBlur: 15,
              shadowColor: 'rgb(58,115,192)',
              shadowOffsetX: 1,
              shadowOffsetY: 1,
            },
            emphasis: {
              areaColor: '#8dd7fc',
              borderWidth: 2, //设置外层边框
              borderColor: '#66ccff',
              borderType: 'solid',
              shadowBlur: 25,
            }
          },
          data: [
            {
              name: '四川',
              selected: false,
              itemStyle: {
                areaColor: {
                  type: 'radial',
                  x: 0.5,
                  y: 0.5,
                  r: 0.5,
                  colorStops: [{
                    offset: 0,
                    color: 'rgba(0,255,255, 0.1)'
                  }, {
                    offset: 1,
                    color: 'rgba(0,255,255, 0.7)'
                  }],
                  global: false // 缺省为 false
                }
              }
            } // selected:true 默认选中
          ]
        },{
            type: 'effectScatter',
            coordinateSystem: 'geo',
            showEffectOn: 'render',
            zlevel: 1,
            rippleEffect: {
                brushType: 'stroke',
            },
            hoverAnimation: true,
            itemStyle: {
                normal: {
                    color: {
                        type: 'radial',
                        x: 0.5,
                        y: 0.5,
                        r: 0.5,
                        colorStops: [
                            {
                                offset: 0,
                                color: 'rgba(254,255,158,0.2)',
                            },
                            {
                                offset: 0.8,
                                color: 'rgba(254,255,158,0.8)',
                            },
                            {
                                offset: 1,
                                color: 'rgba(254,255,158,0.7)',
                            },
                        ],
                        global: false, // 缺省为 false
                    },
                },
            },
            symbol: 'circle',
            symbolSize: function (val) {
                if (val[2] === 0) {
                    return 0;
                }
                var a = (maxSize4Pin - minSize4Pin) / (max - min);
                var b = maxSize4Pin - a * max;
                return a * val[2] + b * 1.2;
            },
            data: hotCity,
        },{
            "type": "lines",
            "zlevel": 2,
            "effect": {
              "show": true,
              "period": 4,
              "trailLength": 0.02,
              "symbol": "arrow",
              "symbolSize": 5
            },
            "lineStyle": {
                "normal": {
                "color": "#B9BDA0",
                "width": 1,
                "opacity": 0.6,
                "curveness": 0.2
              },
            },
            "data": [
              [
                {
                  "coord": [121.4648,31.2891],
                  "value": 100
                },
                {
                "coord": [102.53,30.10]
                }
              ],
              [
                {
                  "coord": [119.1248, 34.552],
                  "value": 100
                },
                {
                "coord": [102.53,30.10]
                }
              ],
              [
                {
                  "coord": [113.0823, 28.2568],
                  "value": 100
                },
                {
                "coord": [102.53,30.10]
                }
              ],
              [
                {
                  "coord": [118.1689, 24.6478],
                  "value": 100
                },
                {
                "coord": [102.53,30.10]
                }
              ],
              [
                {
                  "coord": [109.314, 21.6211],
                  "value": 100
                },
                {
                "coord": [102.53,30.10]
                }
              ],
              [
                {
                  "coord": [114.4995, 38.1006],
                  "value": 100
                },
                {
                "coord": [102.53,30.10]
                }
              ],
              [
                {
                  "coord": [87.9236, 43.5883],
                  "value": 100
                },
                {
                "coord": [102.53,30.10]
                }
              ],
              [
                {
                  "coord": [121.5967, 29.6466],
                  "value": 100
                },
                {
                "coord": [102.53,30.10]
                }
              ],
              [
                {
                  "coord":  [91.1865, 30.1465],
                  "value": 100
                },
                {
                "coord": [102.53,30.10]
                }
              ],
              [
                {
                  "coord":  [114.5435, 22.5439],
                  "value": 100
                },
                {
                "coord": [102.53,30.10]
                }
              ]
            ]
          },
        // {
        //   type: 'scatter',
        //   coordinateSystem: 'geo',
        //   data:allData.map(item => {
        //   // return的这个对象就代表的是一个类别下的所有散点数据
        //   // 如果想在地图中显示散点的数据, 我们需要给散点的图表增加一个配置, coordinateSystem:geo
        //     return {
        //       type: 'effectScatter',
        //       rippleEffect: {
        //         scale: 5,
        //         brushType: 'stroke'
        //       },
        //       name: item.name,
        //       data: item.children,
        //       coordinateSystem: 'geo'
        //     }
        //   })
        // }
      ]
      }
    }
  },
}
</script>

[
{"type":"map","map":"china","geoIndex":1,"
layoutCenter":["50%","50%"],"layoutSize":"125%",
"selectedMode":"single",
"roam":false,
"itemStyle":{"normal":{"areaColor":"#00177B","borderColor":"#0073DA","borderWidth":1},"emphasis":{"label":{"show":false},"areaColor":"#00177B"}},"data":[{"name":"山西","selected":false,"itemStyle":{"areaColor":{"type":"radial","x":0.5,"y":0.5,"r":0.5,
"colorStops":[{"offset":0,"color":"rgba(0,255,255, 0.1)"},{"offset":1,"color":"rgba(0,255,255, 0.7)"}],"global":false}}}]},{"type":"lines","zlevel":2,"effect":{"show":true,"period":4,"trailLength":0.02,"symbol":"arrow","symbolSize":5},"lineStyle":{"normal":{"color":"#00FAFA","width":2,"opacity":0.6,"curveness":0.2}},"data":[[{"coord":[121.4648,31.2891],"value":100},{"coord":[112.3352,37.9413]}]]},{"type":"effectScatter","coordinateSystem":"geo","zlevel":2,"rippleEffect":{"period":4,"brushType":"stroke","scale":4},"label":{"normal":{"show":true,"position":"inside","backgroundColor":"rgba(1,247,248, 0.1)","formatter":"{b}","padding":[10,12],"borderRadius":0,"borderWidth":1,"borderColor":"rgba(0,0,0,0.1)","color":"#FFFFFF"},"emphasis":{"show":true}},"symbol":"circle","itemStyle":{"normal":{"show":false,"color":"#fff","shadowBlur":10}},"data":[{"name":"上海","value":[121.4648,31.2891,100]}]},{"type":"scatter","coordinateSystem":"geo","zlevel":2,"rippleEffect":{"period":4,"brushType":"stroke","scale":4},"label":{"normal":{"show":true,"position":"right","color":"#00ffff","formatter":"{b}","textStyle":{"color":"#00ffff"}},"emphasis":{"show":true}},"symbol":"circle","symbolSize":1,"itemStyle":{"normal":{"color":"#fff","shadowBlur":1}},"data":[{"name":"太原","value":[112.3352,37.9413,100]}]}]

<style scoped>
.es-block {
	width: 100%;
	height: 100%;
	padding: 16px;
}
</style>
