<template>
    <div id="app">
      <RouterView />
    </div>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
#app {
  width:100vw;
  height:100vh;
  color: #fff;
  background-color: #020B32;
  overflow: hidden;
}
</style>
