<template>
  <div class="industry" ref="appRef">
    <div class="mx-[180px] h-[70px] bg-industry mb-[39px]">
      <div class="text-center ml-[30px] pt-[12px] mb-[20px] text-[32px] leading-[38px] font-[400] text-[#D8D8D8] tracking-[5px]">{{ title }}</div>
      <div class="absolute top-[4px] left-[26px]">
        <div class="block">
          <div class="text-[14px] mr-[4px] mt-[24px] inline-block">{{ info }}</div>
          <div class="text-[32px] mr-[4px] mb-[8px] inline-block" v-if="temperature">
            {{ temperature }}<span class="text-[18px]">°C</span>
          </div>
          <div class="text-[16px] rounded-[16px] bg-[#2DA0E7] px-[12px] py-[4px] ml-[8px] text-[#000] inline-block" v-if="aqi">优 {{aqi }}</div>
        </div>
      </div>
      <div class="absolute top-[4px] right-[26px]">
        <div class="text-[28px]">{{ nowSec }}</div>
        <div class="text-[#1F77D2]">
          <span>{{ nowTime }}</span>
          <span class="ml-[16px]">{{ nowWeek }}</span>
        </div>
      </div>
    </div>
    <div class="flex justify-between mb-[26px] mx-[24px] items-end">
      <div class="bg-left1">
        <div class="flex flex-row justify-between items-center py-[9px] px-[24px] border-[#0847C2] border-b-[1px]">
          <div class="text-[#fff] leading-[30px] font-[400] h-[30px] text-[21px] tracking-[2px]">{{ supplyPurchaseData }}</div>
          <div class="flex flex-row items-center">
            <div class="bg-[#03AFFF] w-[16px] h-[16px] mr-[7px]"></div>
            <div class="font-[400] text-[14px] text-[#bebebe] leading-[14px] mt-[1px]">供应</div>
            <div class="bg-[#00FFA3] w-[16px] h-[16px] mr-[7px] ml-[21px]"></div>
            <div class="font-[400] text-[14px] text-[#bebebe] leading-[14px] mt-[1px]">采购</div>
          </div>
        </div>
        <div class="flex flex-row">
          <div class="w-[743px] mr-[41px]">
            <div class="font-[400] text-[#0847C2] leading-[14px] text-[16px] w-full text-center mt-[21px] tracking-[1px]">汇总数据分析</div>
            <div id="supply" class="h-[380px] w-[743px]"></div>
          </div>
          <div class="w-[370px]">
            <div class="flex flex-row flex-wrap">
              <div v-for="(item,index) in tradeDate" :key="index" class="w-1/2 mt-[22px] mb-[10px]">
                <div :class="index%2?'text-[#00FFA3]':'text-[#03AFFF]'" class="mb-[15px] h-[14px] font-[400] text-[14px] leading-[21px]">{{ item.tradeName }}</div>
                <div class="text-[#fff] text-[24px] font-[400x] leading-[24px]">{{ item.tradeValue }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 2023年度经济指标 -->
      <div class="center-right w-[672px] h-[488px]">
        <p class="text-[21px] leading-[32px] font-[400] pt-[4px] text-center tracking-[2px]">2023年度经济指标</p>
        <div class="ml-[62px] mr-[52px]">
          <div class="flex flex-row justify-between items-center border-b-[1px] border-[rgba(255,255,255,0.2)] border-dotted" v-for="(item,index) in yearEconomicData" :key="index">
            <div>
              <div :class="index==0?'pt-[36px]':'pt-[21px]'" class="pb-[19px] leading-[21px] text-[21px] font-[400]">{{ item.economicName }}</div>
              <div class="font-[400px] text-[rgba(255,255,255,0.6)] leading-[16px] text-[16px] mb-[24px]">{{ item.economicIntro }}</div>
            </div>
            <div class="h-[30px] text-[30px] leading-[45px]">{{ item.economicValue }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row mx-[24px]">
      <div class="flex flex-col w-[752px]">
        <!-- 优质企业模块 -->
        <div class="linear-border h-[197px] border-[1px] mb-[25px]">
          <p class="text-[21px] leading-[32px] font-[400] pt-[10px] pl-[16px] pb-[8px] border-b-[1px] border-b-[#00366B] tracking-[2px]">优质企业</p>
          <div class="w-full flex flex-row flex-wrap justify-between">
            <div v-for="(item,index) in GoodCompanya" :key="index" class="flex flex-row mt-[16px] w-1/2">
                <img :src="item.logo" alt="" class="w-[57px] h-[50px] rounded-[3px] ml-[16px] mr-[16px]">
                <div>
                  <div class="mb-[6px] leading-[16px] font-[400]">{{ item.name }}</div>
                  <div
                    class="inline-block rounded-[1px] border-[#00699E] border-[1px] h-[20px] 
                    mr-[8px] pl-[8px] pr-[10px] text-[12px] 
                    text-[rgba(0,105,158,0.78)] font-[400]">{{ item.trade }}</div>
                </div>
            </div>
          </div>
        </div>
        <div class="flex flex-row">
          <!-- 行业分析 -->
          <div class="linear-border h-[197px] border-[1px] w-[364px]">
            <p class="text-[21px] leading-[32px] font-[400] pt-[10px] pl-[16px] pb-[8px] border-b-[1px] border-b-[#00366B] tracking-[2px]">行业分析</p>
            <div id="analysis" class="h-[155px]"></div>
          </div>
          <!-- 推荐载体 -->
          <div class="linear-border h-[197px] border-[1px] w-[364px] ml-[24px]">
            <p class="text-[21px] leading-[32px] font-[400] pt-[10px] pl-[16px] pb-[8px] border-b-[1px] border-b-[#00366B] tracking-[2px]">推荐载体</p>
            <el-carousel height="150px" class="overflow-hidden">
              <el-carousel-item class="flex flex-row m-[9px]" v-for="(item,index) in carrierRecommends" :key="index" arrow="never">
                <img :src="item.carrierImage" alt="" class="w-[130px] h-[126px]">
                <div class="ml-[10px]">
                  <div class="leading-[16px] text-[16px] font-[400] mb-[9px]">{{ item.carrierName }}</div>
                  <div class="text-[#D2D0D0] leading-[20px] h-[16px] font-[400] text-[12px]">{{ item.carrierIntro }}</div>
                </div>
              </el-carousel-item>
            </el-carousel>
          </div>
        </div>
      </div>
      <!-- 要素成本模块 -->
      <div class="ml-[36px] mr-[47px] w-[420px] h-[421px] border-[1px] linear-border">
        <p class="text-[21px] leading-[32px] font-[400] pt-[10px] pl-[16px] pb-[8px] border-b-[1px] border-b-[#00366B] tracking-[2px]">要素成本</p>
        <div>
          <div 
            class="relative flex flex-row justify-between items-center bg-[#2677E0]/25 py-[13px] pl-[13px] pr-[18px] border-b-[1px] border-[#6C9BFF]/30" 
            :class="index==0?'mt-[18px]':'mt-[30px]'"
            v-for="(item,index) in elementCost" 
            :key="index">
            <div class="arrow absolute top-[4px] left-[4px]"></div>
            <div class="leading-[16px] text-[16px]">{{ item.elementName }}</div>
            <div class="leading-[16px] text-[16px] text-[rgba(255,255,255,0.66)]">{{ item.elementContent}}</div>
            <div class="bg-[#FFFAF9] absolute bottom-0 right-[0px] w-[6px] h-[1px]"></div>
          </div>
        </div>
      </div>
      <!-- 重点项目模块 -->
      <div class="w-[672px] h-[421px] border-[1px] linear-border">
        <p class="text-[21px] leading-[32px] font-[400] pt-[8px] pl-[16px] pb-[8px] border-b-[1px] border-b-[#00366B] tracking-[2px]">重点项目</p>
        <div>
          <div class="flex flex-row">
            <div class="w-[314px] text-center py-[22px] text-[#04ABFF] border-[#00366B] border-[1px]">项目名称</div>
            <div class="w-[182px] text-center py-[22px] text-[#04ABFF] border-[#00366B] border-[1px]">总投资</div>
            <div class="w-[172px] text-center py-[22px] text-[#04ABFF] border-[#00366B] border-[1px]">建设期</div>
          </div>
          <div v-for="(item,index) in keyProjects" :key="index" class="flex flex-row" :class="index+1!=keyProjects.length?'mb-[10px]':''">
            <div class="w-[314px] text-center bg-[rgba(1,128,254,0.37)] text-[#E2F9FF] border-[rgba(4,171,255,0.28)] py-[13px] border-[1px]">{{ item.projectName }}</div>
            <div class="w-[182px] text-center bg-[rgba(1,128,254,0.16)] text-[#E2F9FF] border-[rgba(4,171,255,0.28)] py-[13px] border-[1px]">{{ item.totalCost }}</div>
            <div class="w-[172px] text-center bg-[rgba(1,128,254,0.37)] text-[#E2F9FF] border-[rgba(4,171,255,0.28)] py-[13px] border-[1px]">{{ item.buildDate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import {industrial,getWeather} from "@/api/common"
import drawMixin from '../../utils/drawMixin'
export default{
  // eslint-disable-next-line vue/multi-word-component-names
  name:"industry",
  mixins: [drawMixin],
  data(){
    return{
      GoodCompanya:[],//优质企业列表
      elementCost:[],//要素成本列表
      title:"",//标题
      tradeAnalysis:[],//行业分析
      yearEconomicData:[],//年度经济指标
      keyProjects:[],//重点项目
      carrierRecommends:[],//推荐载体
      supplyPurchaseData:'',
      spData:[],//汇总数据分析
      tradeDate:[],
      supply:"",
      analysis:"",
      nowTime: '',
      nowSec:'',
      nowWeek:'',
      temperature:'',
      humidity:'',
      info:'',
      aqi:'',
    }
  },
  mounted(){
    // this.handleWeather()
    this.nowTimes()
    this.getIndustrial();
    window.addEventListener('resize', this.handleResize)
  },
  beforeDestory() {
    this.dateTimer = null;
  },
  methods: {
    handleWeather(){
      getWeather().then(res=>{
        const {code,data,msg} = res
        if(code==200){
          const {terperature,humidity,info,aqi} = data
          this.temperature = terperature
          this.humidity = humidity
          this.info = info
          this.aqi = aqi
        }else{
          this.$message.error(msg)
        }
      })
    },
    timeFormate (timeStamp) {
      let date = new Date(timeStamp)
      let y = date.getFullYear().toString();
      let M = (date.getMonth() + 1).toString().padStart(2, '0');
      let d = date.getDate().toString().padStart(2, '0');
      let h = date.getHours().toString().padStart(2, '0');
      let m = date.getMinutes().toString().padStart(2, '0');
      let s = date.getSeconds().toString().padStart(2, '0');
      let w = date.getDay().toString();
      switch (w) {
        case '1':
          w = '一'
          break
        case '2':
          w = '二'
          break
        case '3':
          w = '三'
          break
        case '4':
          w = '四'
          break
        case '5':
          w = '五'
          break
        case '6':
          w = '六'
          break
        default:
          w = '日'
      }
      this.nowTime = `${y}/${M}/${d}`
      this.nowSec = `${h}:${m}:${s}`
      this.nowWeek = `星期${w}`
    },
    nowTimes () {
      this.timeFormate(new Date())
      this.dateTimer = setInterval(() => {
        this.timeFormate(new Date());
      }, 1000)
    },
    handleResize(){
      this.supply&&this.supply.resize();
      this.analysis&&this.analysis.resize();
    },
    //得到产业大屏数据
    getIndustrial(){
      industrial().then(res=>{
        const {code,data} = res;
        if(code==200){
          this.GoodCompanya = data.GoodCompanya||[]
          this.elementCost = data.elementCost||[]
          this.title = data.title
          this.yearEconomicData = data.yearEconomicData||[]
          this.keyProjects = data.keyProjects||[]
          this.carrierRecommends = data.carrierRecommends||[]
          this.supplyPurchaseData = data.supplyPurchaseData.title
          this.spData = data.supplyPurchaseData.spData
          this.tradeDate = data.supplyPurchaseData.tradeDate
          //处理行业分析数据
          if(data.tradeAnalysis){
            const keys = Object.keys(data.tradeAnalysis);
            this.tradeAnalysis = keys.reduce((prev,cur)=>{
              prev.push({
                name:cur,
                value:data.tradeAnalysis[cur],
              })
              return prev;
            },[])
            this.getAnalysis()
            this.getSupply();
          }
        }
      })
    },
    //初始化行业分析
    getAnalysis(){
      this.analysis= this.$echarts.init(document.getElementById('analysis'));
      let colorList =  ["#4280F1", "#D84982", "#FFDD54", "#40D2F5"]
      //设置每一项文字颜色
      this.tradeAnalysis = this.tradeAnalysis.reduce((prev,cur,index)=>{
        cur.label = {
          color:colorList[index]
        }
        prev.push(cur)
        return prev
      },[])
      const options = {
        color: colorList,
        labelLine: {
          length: 1,
          length2:1,
        },
        label: {
          show: true,
          formatter: function(params) {
            const value = params.data.value;
            const percentage = value  * 100 + '%';
            return percentage
          },
        },
        legend: {
          top:"28px",
          right: '36px',
          orient:'vertical',
          itemWidth: 9,
          itemHeight: 9,
          textStyle: {
            color: '#fff',
          },
        },
        toolbox: {
          show: false,
        },
        series: [
          {
            type: 'pie',
            radius: [10, 60],
            center: ['30%', '50%'],
            roseType: 'area',
            data:this.tradeAnalysis,
          }
        ]
      };
      // 绘制图表
      this.analysis.setOption(options)
    },
    //初始化近8个月产业采供数据
    getSupply(){
      this.supply = this.$echarts.init(document.getElementById('supply'));
      const xDataList = this.spData.reduce((prev,cur)=>{
        if(cur){
          prev.push(cur.month)
        }
        return prev;
      },[])
      const xList = this.spData.reduce((prev,cur)=>{
        if(cur){
          prev.push(cur.spTotal)
        }
        return prev;
      },[])
      const yList = this.spData.reduce((prev,cur)=>{
        if(cur){
          prev.push(cur.stTotal)
        }
        return prev;
      },[])
      const options = {
        title: {
          text: '单位:万元',
          textStyle:{
            color: '#fff',
            fontSize:'14px',
            fontWeight:400,
          }
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          show:false,
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        toolbox: {
          show:false,
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: xDataList,
          axisLine:{
            lineStyle:{
              show:true,//是否显示坐标轴轴线，
              color:'#09244B',//x轴轴线的颜色
              width:1,//x轴粗细
            }
          },
          axisLabel: {
            color: '#7AADFF', 
          }
        },
        yAxis: {
          type: 'value',
          axisLine:{
            show:true,
            lineStyle:{
              show:true,//是否显示坐标轴轴线，
              color:'#09244B',//x轴轴线的颜色
              width:1,//x轴粗细
            }
          },
          splitLine: {
            lineStyle: {
              color: "#09244B",
            },
          },
          axisLabel: {
            show: true,
            color: 'white',
          }
        },
        series: [
          {
            name: '供应总额',
            type: 'line',
            data: xList,
            smooth: true, // 这里设置平滑,
            lineStyle: {
              color: new echarts.graphic.LinearGradient(
                  0, 0, 1, 0, // 渐变方向从左到右
                  [
                    { offset: 0, color: '#F7B500' }, // 渐变起始颜色
                    { offset: 1, color: '#00FFA3' } // 渐变结束颜色
                  ]
              )
            }
          },
          {
            name: '采购数额',
            type: 'line',
            data: yList,
            smooth: true, // 这里设置平滑
            lineStyle: {
              color: new echarts.graphic.LinearGradient(
                  0, 0, 1, 0, // 渐变方向从左到右
                  [
                    { offset: 0, color: '#02C6FF' }, // 渐变起始颜色
                    { offset: 1, color: '#0368FF' } // 渐变结束颜色
                  ]
              )
            }
          }
        ]
      }
      this.supply.setOption(options)
    }
  }
}
</script>

<style scoped>
.industry{
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  overflow: hidden;

  .center-right{
    background:URL("../../assets/images/bg1.png");
    background-size: 100% 100%;
  }

  .bg-industry{
    background:URL("../../assets/images/industry/title.png");
    background-size: 100% 100%;
  }

  .bg-left1{
    background:URL("../../assets/images/industry/left-1.png");
    background-size: 100% 100%;
  }

  .linear-border{
    border-image: linear-gradient(134deg, rgba(8, 71, 194, 1), rgba(98, 98, 98, 1), rgba(57, 57, 57, 1), rgba(8, 71, 194, 1)) 1 1;
  }
  .arrow {
    width: 0;
    height: 0;
    border-top: 5px solid #fff; 
    border-right: 5px solid transparent;
    border-left: 5px solid #fff;
    border-bottom: 5px solid transparent;
    z-index: 2,
  }
}
</style>