<template>
  <div class="investment" ref="appRef">
    <div class="mx-[180px] h-[70px] bg-investment mb-[29px]">
      <div class="text-center pt-[12px] mb-[20px] text-[38px] leading-[38px] font-[400] text-[#D8D8D8] tracking-[5px] pl-[20px]">{{ title }}</div>
      <div class="absolute top-[4px] left-[26px]">
        <div class="block">
          <div class="text-[14px] mr-[4px] mt-[24px] inline-block">{{ info }}</div>
          <div class="text-[32px] mr-[4px] mb-[8px] inline-block" v-if="temperature">
            {{ temperature }}<span class="text-[18px]">°C</span>
          </div>
          <div class="text-[16px] rounded-[16px] bg-[#2DA0E7] px-[12px] py-[4px] ml-[8px] text-[#000] inline-block" v-if="aqi">优 {{aqi }}</div>
        </div>
      </div>
      <div class="absolute top-[4px] right-[12px]">
        <div class="text-[28px]">{{ nowSec }}</div>
        <div class="text-[#1F77D2]">
          <span>{{ nowTime }}</span>
          <span class="ml-[16px]">{{ nowWeek }}</span>
        </div>
      </div>
    </div>
    <div class="flex justify-between mb-[13px]">
      <div class="w-[462px] flex flex-col ml-[12px]">
        <!-- 平台日访问量 -->
        <div class="w-[462px] h-[295px] mr-[16px] mb-[14px] bg-investment-bg1">
          <div class="text-[16px] leading-[24px] font-[400] pt-[11px] pl-[16px] pb-[8px] ml-[12px] tracking-[2px]">
            {{ this.platformDayVisits.title }}
          </div>
          <div id="platformDayVisits" class="w-full h-[260px]"></div>
        </div>
        <!--招商推广排行榜  -->
        <div class="w-[462px] h-[323px] mr-[16px] bg-investment-bg2">
          <div class="text-[16px] leading-[24px] font-[400] pt-[11px] pl-[16px] pb-[8px] ml-[12px] tracking-[2px]">
            招商推广排行榜
          </div>
          <div id="investFlowTop" class="w-full h-[300px]"></div>
        </div>
      </div>
      <!-- 地图部分 -->
      <div class="flex-1 w-full mx-[22px] relative">
        <div class="flex flex-row absolute top-[0px] left-[0px]">
          <div v-for="(item,index) in content" :key="index" class="bg-[#00A3FF]/10 mr-[7px] pr-[26px] pt-[9px] pl-[15px] pb-[5px]">
            <div class="flex flex-row">
              <div class="w-[3px] bg-white h-[14px] mr-[5px] mt-[4px]"></div>
              <div class="flex flex-col">
                <div>{{item.name}}</div>
                <div class="h-[40px] font-[400] text-[30px] leading-[45px] inline-block">{{ item.value }}
                  <span class="h-[12px] font-[400] text-[#fff] leading-[18px] text-[12px] inline-block">{{ item.unit }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <MapCanvas class="top-[0px] left-[0px] absolute"/>
      </div>
      <div class="w-[462px] flex flex-col mr-[12px]">
        <!-- 栏目浏览统计 -->
        <div class="w-[462px] flex flex-col">
          <div class="w-[462px] h-[295px] mr-[16px] mb-[14px] bg-investment-bg1">
            <div class="text-[16px] leading-[24px] font-[400] pt-[11px] pl-[16px] pb-[8px] ml-[12px] tracking-[2px]">
              栏目浏览量统计 
            </div>
            <vue-seamless-scroll :data="columnBrowseNumber" class="h-[250px] overflow-hidden">
              <div v-for="(item,index) in columnBrowseNumber" :key="index" 
                class="w-full border-dotted border-[#000]/0.5 px-[19px] py-[18px] border-b-[1px]"
              >
                <div class="flex justify-between items-center w-full mb-[10px] text-[#ffffff]/60">
                  <div class="h-[14px] font-[400] text-[14px] leading-[21px]">{{ item.title }}</div>
                  <div class="text-[12px] font-[400] leadinbg-[18px] h-[18px]">{{ item.longDate }}</div>
                </div>
                <div class="flex justify-between items-center">
                  <div class="h-[16px] font-[400] text-[16px] leading-[24px]">{{ item.totalNumber }}</div>
                  <div class="h-[16px] font-[400] text-[16px] leading-[24px] text-[#10FCFF]">+{{ item.addNumber }}</div>
                </div>
              </div>
            </vue-seamless-scroll>
          </div>
        </div>
        <!-- 内容点击排行榜 -->
        <div class="flex flex-col w-[462px]">
          <div class="w-[462px] h-[323px] mr-[16px] bg-investment-bg2">
            <div class="text-[16px] leading-[24px] font-[400] pt-[11px] pl-[16px] pb-[8px] ml-[12px] tracking-[2px]">
              内容点击排行榜
            </div>
            <div id="clickNumberTop" class="h-[280px]"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row">
      <!-- 客商来源数据分析 -->
      <div class="w-[462px] h-[291px] bg-investment-bt1 mr-[20px] ml-[12px]">
        <div class="text-[16px] leading-[24px] font-[400] pt-[11px] pl-[16px] pb-[8px] ml-[12px] tracking-[2px]">
          客商来源数据分析
        </div>
        <div class="bg-investment-bt1-bg">
          <div id="customerSource" class="h-[280px]"></div>
        </div>
      </div>
      <!-- 客商所属产业分析-->
      <div class="w-[462px] h-[291px] mr-[20px]  bg-investment-bt2">
        <div class="text-[16px] leading-[24px] font-[400] pt-[11px] pl-[16px] pb-[8px] ml-[12px] tracking-[2px]">
          客商所属产业分析
        </div>
        <div class="bg-investment-bg3">
          <div id="customerTrade" class="h-[280px]"></div>
        </div>
      </div>
      <!-- 类RFM区域分布图 -->
      <div class="w-[462px] h-[291px] bg-investment-bt3 mr-[20px]">
        <div class="text-[16px] leading-[24px] font-[400] pt-[11px] pl-[16px] pb-[8px] ml-[12px] tracking-[2px]">
          类RFM区域分布图 
        </div>
        <div id="distribution" class="h-[240px]"></div>
      </div>
      <!-- 客商意向度分析 -->
      <div class="w-[462px] h-[291px] bg-investment-bt4 mr-[12px]">
        <div class="text-[16px] leading-[24px] font-[400] pt-[11px] pl-[16px] pb-[8px] ml-[12px] tracking-[2px]">
          {{ customerIntention.title }}
        </div>
        <div class="bg-investment-bt4-bg">
          <div id="intention" class="h-[280px]"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import {invest,getWeather} from "@/api/common"
import 'echarts/extension/bmap/bmap';
import MapCanvas from "./components/map/index.vue";
import drawMixin from '../../utils/drawMixin'

export default{
  // eslint-disable-next-line vue/multi-word-component-names
  name:"investment",
  mixins: [drawMixin],
  components: {
    MapCanvas,
  },
  data(){
    return{
      title:"",//标题
      customerIntention:{},//客商意向度分析
      customerTrade:[],//客商所属产业分析
      customerSource:[],//平台数据来源
      columnBrowseNumber:[],//栏目浏览量统计
      clickNumberTop:[],
      platformDayVisits:[],//平台日访问量
      investFlowTop:[],//推广流量排行榜
      RFMAreaMap:[],//区域分布图
      content:[],//中间部分数据
      dateTimer: null,
      nowTime: '',
      nowSec:'',
      nowWeek:'',
      temperature:'',
      humidity:'',
      info:'',
      aqi:'',
    }
  },
  mounted(){
    this.handleWeather()
    this.getInvest();
    this.nowTimes()
  },
  beforeDestory() {
    this.dateTimer = null;
  },
  methods: {
    handleWeather(){
      getWeather().then(res=>{
        const {code,data,msg} = res
        if(code==200){
          const {terperature,humidity,info,aqi} = data
          this.temperature = terperature
          this.humidity = humidity
          this.info = info
          this.aqi = aqi
        }else{
          this.$message.error(msg)
        }
      })
    },
    timeFormate (timeStamp) {
      let date = new Date(timeStamp)
      let y = date.getFullYear().toString();
      let M = (date.getMonth() + 1).toString().padStart(2, '0');
      let d = date.getDate().toString().padStart(2, '0');
      let h = date.getHours().toString().padStart(2, '0');
      let m = date.getMinutes().toString().padStart(2, '0');
      let s = date.getSeconds().toString().padStart(2, '0');
      let w = date.getDay().toString();
      switch (w) {
        case '1':
          w = '一'
          break
        case '2':
          w = '二'
          break
        case '3':
          w = '三'
          break
        case '4':
          w = '四'
          break
        case '5':
          w = '五'
          break
        case '6':
          w = '六'
          break
        default:
          w = '日'
      }
      this.nowTime = `${y}/${M}/${d}`
      this.nowSec = `${h}:${m}:${s}`
      this.nowWeek = `星期${w}`
    },
    nowTimes () {
      this.timeFormate(new Date())
      this.dateTimer = setInterval(() => {
        this.timeFormate(new Date());
      }, 1000)
    },
    //得到招商大屏数据
    getInvest(){
      invest().then((res)=>{
        const {code,data} = res;
        if(code==200){
          this.title = data.title
          this.customerIntention = data.customerIntention||{}
          this.customerTrade = data.customerTrade
          if(data.customerSource){
            const keys = Object.keys(data.customerSource);
            this.customerSource = keys.reduce((prev,cur)=>{
              prev.push({
                name:cur,
                value:data.customerSource[cur],
              })
              return prev;
            },[])
          }
          this.columnBrowseNumber = data.columnBrowseNumber
          this.clickNumberTop = data.clickNumberTop
          this.platformDayVisits = data.platformDayVisits
          this.investFlowTop = data.investFlowTop
          this.content = [{
            name:'入驻企业数',
            value:data.companyNumber,
            unit:'家'
          },{
            name:"用户数",
            value:data.userNumber,
            unit:'人'
          },{
            name:"年曝光量",
            value:data.yearShowNumber,
            unit:'次'
          }]
          this.RFMAreaMap = data.RFMAreaMap
          this.$nextTick(()=>{
            this.handleIntention()
            this.handleDistribution()
            this.handleCustomerTrade()
            this.handleCustomerSource()
            this.handleClickTop()
            this.handlePlatformDayVisits()
            this.handleIvestFlowTop()
            this.handleMap()
          })
        }
      })
    },
    //生成地图
    handleMap(){
    },
    //推广流量排行榜
    handleIvestFlowTop(){
      this.investFlowTop = this.investFlowTop.reduce((prev,cur)=>{
        cur.name = cur.mechanismName,
        cur.value = cur.flowNumber
        prev.push(cur)
        return prev;
      },[])
      const nameList = this.investFlowTop.reduce((prev,cur)=>{
        prev.push(cur.mechanismName)
        return prev;
      },[])
      const dataList = this.investFlowTop.reduce((prev,cur)=>{
        prev.push(Number(cur.flowNumber));
        return prev;
      },[])
      const topList = this.investFlowTop.reduce((prev,cur)=>{
        prev.push(cur.top);
        return prev;
      },[])
      var myChart = this.$echarts.init(document.getElementById('investFlowTop'));
      var color = [
        "rgba(226, 74, 59",
        "rgba(201, 178, 23",
        "rgba(56, 119, 242",
        "rgba(56, 119, 242",
        "rgba(56, 119, 242",
        "rgba(56, 119, 242"
      ];
      const backgroundColorList = [
        new echarts.graphic.LinearGradient(
          0,
          0,
          1,
          0,
          [
            {
              offset: 0,
              color: 'rgba(226, 74, 59, 1)',
            },
            {
              offset: 1,
              color:'rgba(226, 74, 59, 0)',
            },
          ],
          false
        ),
        new echarts.graphic.LinearGradient(
          0,
          0,
          1,
          0,
          [
            {
              offset: 0,
              color: 'rgba(201, 178, 23, 1)',
            },
            {
              offset: 1,
              color:'rgba(201, 178, 23, 0)',
            },
          ],
          false
        ),
        new echarts.graphic.LinearGradient(
          0,
          0,
          1,
          0,
          [
            {
              offset: 0,
              color: 'rgba(56, 119, 242, 1)',
            },
            {
              offset: 1,
              color:'rgba(56, 119, 242, 0)',
            },
          ],
          false
        ),
      ]
      let lineY = [];
      for (var i = 0; i < nameList.length; i++) {
        var x = i;
        if (x > color.length - 1) {
          x = color.length - 1;
        }
        var data = {
          name: nameList[i],
          color: color[x] + ")",
          value: dataList[i],
          itemStyle: {
            normal: {
              show: true,
              color: new echarts.graphic.LinearGradient(
                0,
                0,
                1,
                0,
                [
                  {
                    offset: 0,
                    color: color[x] + ", 0.3)",
                  },
                  {
                    offset: 1,
                    color: color[x] + ", 1)",
                  },
                ],
                false
              ),
              barBorderRadius: 10,
            },
            emphasis: {
              shadowBlur: 15,
              shadowColor: "rgba(0, 0, 0, 0.1)",
            },
          },
        };
        lineY.push(data);
      }
      const options = {
        tooltip: {
          trigger: "item",
        },
        grid: {
          borderWidth: 0,
          top: "8%",
          left: "20%",
          right: "9%",
          bottom: "8%",
        },
        color: color,
        yAxis: [
            {
              axisTick: 'none',
              axisLine: 'none',
              offset: '0',
              position:'top',
              axisLabel: {
                verticalAlign:"bottom",
                formatter: function(value,index) {
                  if(index==0){
                    return '{title0|' + value + '}'
                  }else if(index==1){
                    return '{title1|' + value + '}'
                  }else {
                    return '{title|' + value + '}'
                  }
                },
                rich: {
                  title0:{
                    width:50,
                    backgroundColor:backgroundColorList[0],
                    lineHeight:24,
                    align:"left",
                    padding:[0,0,0,8],
                    borderRadius:16,
                    height:24,
                  },
                  title1:{
                    width:50,
                    backgroundColor:backgroundColorList[1],
                    lineHeight:24,
                    align:"left",
                    borderRadius:16,
                    padding:[0,0,0,8],
                    height:24,
                  },
                  title:{
                    width:50,
                    backgroundColor:backgroundColorList[2],
                    lineHeight:24,
                    align:"left",
                    borderRadius:16,
                    padding:[0,0,0,8],
                    height:24,
                  }
                },
                textStyle:{
                  color:'#fff',
                  alignTicks: true // 开启刻度线对齐
                }
              },
              inverse:true,
              data: topList,
            }, 
            {
              triggerEvent: true,
              show: true,
              inverse: true,
              data: nameList,
              axisLine: {
                show: false
              },
              splitLine: {
                show: false
              },
              axisTick: {
                show: false
              },
              axisLabel: {
                show: false,
                interval: 0,
                color: '#fff',
                align: 'left',
                fontSize: 14,
                formatter: function(value) {
                  return '{title|' + value + '}'
                },
                rich: {
                  title: {
                    width: 500
                  }
                }
              },
            }, 
            {
              triggerEvent: true,
              show: true,
              inverse: true,
              data: nameList,
              axisLine: {
                show: false
              },
              splitLine: {
                show: false
              },
              axisTick: {   
                show: false
              },
              axisLabel: {
                interval: 0,
                shadowOffsetX: '-20px',
                color: ['#fff'],
                align: 'right',
                verticalAlign: 'bottom',
                lineHeight: 30,
                fontSize: 18,
                formatter: function(value, index) {
                  return dataList[index]
                },
              },
            },
        ],
        xAxis: {
          type: "value",
          axisTick: {
            show: false,
          },
          axisLine: {
            show: false,
          },
          splitLine: {
            show: false,
          },
          axisLabel: {
            show: false,
          },
        },
        series: [
          {
            type: 'pictorialBar',
            symbolSize: [2, 7],
            symbolOffset: [2, 0],
            symbolPosition:'end',
            itemStyle: {
                normal: {
                  color:'#fff'
                }
            },
            data: dataList
         }, 
          {
            type: "bar",
            zlevel: 2,
            barWidth: "4px",
            data: lineY,
            animationDuration: 1500,
            showBackground: true,
            label: {
              normal: {
                color: "#E3E9F3",
                show: true,
                position: [0, "-24px"],
                textStyle: {
                  fontSize: 14,
                  color:"#E3E9F3"
                },
                formatter: function (a) {
                  return a.name;
                },
              },
            },
          },
        ],
        animationEasing: "cubicOut",
      };
      myChart.setOption(options)
    },
    //平台日访问量
    handlePlatformDayVisits(){
      let tooltip_position_left = false;
      var myChart = this.$echarts.init(document.getElementById('platformDayVisits'));
      const options =  {
        tooltip: {
          trigger: 'axis',
          backgroundColor:'RGBA(25, 30, 35, 0.7)',
          borderWidth:'0px',
          lineHeight:20,
          position(point, params, dom, rect, size) {
            const obj = {};
            // 鼠标的水平位置（point[0]）小于图表容器宽度的一半（size.viewSize[0] / 2）时
            // tooltip显示left位置设置，+-后面是偏移量，用于微调。
            if(point[0] < size.viewSize[0] / 2){
                tooltip_position_left = false;
                obj["left"] = point[0] + 40;
            } else {
                tooltip_position_left = true;
                obj["left"] = point[0] - 170;
            }
            // 鼠标的竖直位置（point[1]）小于图表容器高度的一半（size.viewSize[1] / 2）时
            // tooltip显示top位置设置，，+-后面是偏移量，用于微调。
            obj["top"] = (point[1] < size.viewSize[1] / 2)? point[1] : point[1] - 46;
            return obj;
        },
        textStyle : {
            color: 'white',
        },
        formatter (res) {
          const [day,month] = res[0].name.split("/")
           const dom = '<div style="margin-bottom:8px;">'+ `时间：${month}月${day}日` + '</div><div>'+ `数量：${res[0].value}` + '</div>'
          let style_text = tooltip_position_left?"right:-16px;border-left-color:RGBA(25, 30, 35, 0.7)":"left:-16px;border-right-color:RGBA(25, 30, 35, 0.7)";
            return `<div style="padding:8px 4px;font-size:16px;font-weight:400;">
              ${dom}
            </div>
            <div style="width:0;height:0;position:absolute;top:calc(50% - 2px);border:8px solid transparent;${style_text}"></div>`
         }
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: this.platformDayVisits.x_axis.date,
          axisLine:{
            lineStyle:{
              show:true,//是否显示坐标轴轴线，
              color:'#09244B',//x轴轴线的颜色
              width:1,//x轴粗细
            }
          },
          axisTick:{
            show:true,
          }
        },
        yAxis: {
          type: 'value',
          splitLine: {
            lineStyle: {
              color: "#1A3039",
            },
          },
        },
        axisLabel: {
          show: true,
          color: 'white',
        },
        grid: {
          left: '3%',
          right: '5%',
          bottom: '6%',
          top: '10%',
          containLabel: true
        },
        series: [
          {
            data: this.platformDayVisits.data,
            type: 'line',
            areaStyle: {
              color: new echarts.graphic.LinearGradient(
                0,
                0,
                0,
                1,
                [
                    {
                        offset:0,
                        color:"#0F3C77"
                        //渐变色的开始颜色
                    },
                    {
                      offset:1,
                      color:"#030408"
                      //渐变色的开始颜色
                    }
                ],
                false
              ),
            },
            lineStyle: {
              color: '#50BBEB', // 折线颜色
              width: 4, // 折线宽度
            },
            barGap: '10px'
          }
        ]
      };
      myChart.setOption(options)
    },
    //排行榜
    handleClickTop(){
      var salvProMax = ''; //背景按最大值
      let salvProMaxList = []
      for (let i = 0; i <this.clickNumberTop.length; i++) {
        salvProMax= Math.max(salvProMax,this.clickNumberTop[i].value);
      }
      this.clickNumberTop = this.clickNumberTop.reduce((prev,cur)=>{
        salvProMaxList.push(salvProMax)
        cur.value = cur.cnt;
        cur.name = cur.title
        prev.push(cur)
        return prev;
      },[])
      const nameList = this.clickNumberTop.reduce((prev,cur)=>{
        prev.push(cur.title)
        return prev;
      },[])
      const topList = this.clickNumberTop.reduce((prev,cur)=>{
        prev.push(cur.top);
        return prev;
      },[])
      const cntList = this.clickNumberTop.reduce((prev,cur)=>{
        prev.push(cur.cnt+cur.unit);
        return prev;
      },[])
      const trendList = this.clickNumberTop.reduce((prev,cur)=>{
        prev.push(cur.trend);
        return prev;
      },[])
      var myChart = this.$echarts.init(document.getElementById('clickNumberTop'));
      var myColor = ['#AFF9FF','#77F4FF','#2AEEFF','#fff','#4192F6'];
      const options = {
        backgroundColor: '#0e2147',
        grid: {
          left: '10%',
          top: '5%',
          right: '-10%',
          bottom: '0%',
          containLabel: true
        },
        xAxis: {
          show: false,
          min:0,
          max:salvProMax,
          barGap:5,
        },
        yAxis: [
          {
            axisTick: 'none',
            axisLine: 'none',
            offset: '27',
            axisLabel: {
              textStyle: {
                color: function(params,index){
                  if(index==3){
                    return '#10FCFF'
                  }else{
                    return '#fff'
                  }
                },
                fontSize: '16',
              },
              formatter: function(value,index) {
                if(index<=2){
                  return `{a|${value}}`
                }else{
                  return `{b|${value}}`
                }
              },
              rich:{
                a:{
                  width:40,
                  height:40,
                  align:'center',
                  verticalAlign:'middle',
                  backgroundColor:{
                    image:require('../../assets/images/investment/right2-bg.png')
                  }
                },
                b:{
                  width:40,
                  align:'center',
                }
              }
            },
            inverse:true,
            data: topList,
          }, 
          {
            axisTick: 'none',
            axisLine: 'none',
            offset:10,
            data: trendList,
            axisLabel: {
              // textStyle: {
              //   color: function(value){
              //     if(value=='up'){
              //       return '#FFA818'
              //     }else{
              //       return '#E90000'
              //     }
              //   },
              //   fontSize: '16',
              // },
              formatter: function(value) {
                if(value=='up'){
                  return '{a|}'
                }else if(value=='down'){
                  return '{b|}'
                }else{
                  return ''
                }
              },
              rich:{
                a:{
                  width:10,
                  height:10,
                  align:'center',
                  verticalAlign:'middle',
                  backgroundColor:{
                    image:require('../../assets/images/investment/up.png')
                  }
                },
                b:{
                  width:10,
                  height:10,
                  align:'center',
                  verticalAlign:'middle',
                  backgroundColor:{
                    image:require('../../assets/images/investment/down.png')
                  }
                }
              },
            },
          }, 
          {
            triggerEvent: true,
            show: true,
            inverse: true,
            data: nameList,
            axisLine: {
              show: false
            },
            splitLine: {
              show: false
            },
            axisTick: {
              show: false
            },
            axisLabel: {
              show: false,
              interval: 0,
              color: '#fff',
              align: 'left',
              fontSize: 12,
              formatter: function(value) {
                return '{title|' + value + '}'
              },
              rich: {
                title: {
                  width: 500
                }
              }
            },
          }, 
          {
            triggerEvent: true,
            show: true,
            inverse: true,
            data: nameList,
            axisLine: {
              show: false
            },
            splitLine: {
              show: false
            },
            axisTick: {   
              show: false
            },
            axisLabel: {
              interval: 0,
              shadowOffsetX: '-20px',
              color: '#fff',
              align: 'right',
              verticalAlign: 'bottom',
              offset:-100,
              fontSize: 12,
              padding:[0,0,6,0],
              formatter: function(value, index) {
                return cntList[index]
              },
            },
          },
        ],
        series: [
          {
            type: "bar",
            barWidth: 8,
            barGap: "-100%",
            margin: "20",
            data: salvProMaxList,
            textStyle: {
              //图例文字的样式
              fontSize: 10,
              color: "#fff"
            },
            itemStyle: {
              normal: {
                colorr:'rgba(0,0,0,0)',
                fontSize: 10,
                barBorderRadius: 30
              },
            },
            yAxis:{
              max:salvProMax
            }
          },
          { 
            type: 'bar',
            stack: 'fullStack',
            barMaxWidth: 20,
            data: this.clickNumberTop,
            barWidth: 6,
            align: 'left',
            itemStyle: {
              normal: {
                color: function(params) {
                  var num = myColor.length;
                  return myColor[params.dataIndex % num]
                },
              },
            barBorderRadius: 10
            },
            label: {
              normal: {
                color: '#fff',
                show: true,
                position: [0, '-20px'],
                textStyle: {
                  fontSize: 16
                },
                formatter: function(a) {
                    return a.name
                }
              }
            },
          },
        ]
      };
      myChart.setOption(options)
    },
    //数据来源分析
    handleCustomerSource(){
      const dataName ={
        offline:"平台企业",
        other: "其他",
        platformPush:"平台推广", 
        platformSelf: "线下活动"
      }
      var myChart = this.$echarts.init(document.getElementById('customerSource'));
      const options = {
        color: ["#24CBFF", "#34FBF4", "#214CEF","#28FECB"],
        label: {
          show: true,
        },
        toolbox: {
          show: false,
        },
        series: [
          {
            type: 'pie',
            radius: [50, 80],
            center: ['50%', '50%'],
            roseType: 'area',
            data:this.customerSource,
            labelLine: {
              normal: {
                show: true,
                length: 10,
                length2: 70,
                lineStyle: {
                  width: 1,
                  type: 'solid',
                  color: '#295171',
                },
              }
            },
            label:{
              formatter(params){
                return `{a|${params.value*100}%}\n\n{b|${dataName[params.name]}}`
              },
              rich:{
                a:{
                  color:`rgba(37, 159, 182, 1)`,
                },
                b:{
                  color:'#fff',
                }
              }
            },
            emphasis: {
              scale: true,//是否开启高亮后扇区的放大效果。
              scaleSize: 15,
            }
          }
        ]
      }
      // 绘制图表
      myChart.setOption(options)
      let index = 3
      myChart.dispatchAction({type: 'highlight',seriesIndex: 0,dataIndex: index});
      // 当鼠标移入时，如果不是第一项，则把当前项置为选中，如果是第一项，则设置第一项为当前项
      myChart.on('mouseover',function(e){
        myChart.dispatchAction({type: 'downplay',seriesIndex: 0,dataIndex:0}); 
        if(e.dataIndex != index){            
          myChart.dispatchAction({type: 'downplay', seriesIndex: 0, dataIndex: index  });     
        }
        if(e.dataIndex == 0){
          myChart.dispatchAction({type: 'highlight',seriesIndex: 0,dataIndex:e.dataIndex});
        }
      });
      //当鼠标离开时，把当前项置为选中 
      myChart.on('mouseout',function(e){
          index = e.dataIndex;
          myChart.dispatchAction({type: 'highlight',seriesIndex: 0,dataIndex: e.dataIndex});    
      });
    },
    //客商所属产业分析
    handleCustomerTrade(){
      let max = 0;
      if(Array.isArray(this.customerTrade)&&this.customerTrade.length>0){
        this.customerTrade = this.customerTrade.reduce((prev,cur)=>{
          prev.push({
            name:cur.tradeName,
            value:cur.ratio,
            itemStyle:{
              color:cur.colour
            }
          })
          max = Math.max(max,cur.ratio)
          return prev;
        },[])
      }
      let index = this.customerTrade.findIndex((item)=>item.value==max);
      var myChart = this.$echarts.init(document.getElementById('customerTrade'));
      const options = {
        legend: {
          top: '18%',
          right: '40px',
          orient:'vertical',
          itemWidth: 9,
          itemHeight: 9,
          textStyle: {
            color: '#fff',
            lineHeight:22,
          },
        },
        series: [
          {
            type: 'pie',
            radius: ['50%', '55%'],
            center: ['36%', '50%'],
            avoidLabelOverlap: false,
            padAngle: 5,
            itemStyle: {
              borderRadius: 10
            },
            label: {
              show: false,
              position: 'center',
              formatter: '{title|{d}}{text|%}\n{name|{b}}',
              color:'#fff',
              rich: {
                title: {
                  fontSize:30,
                },
                text: { 
                  fontSize: 12,
                },
                name:{
                  fontSize:14,
                  fontWeight:400
                }
              }
            },
            emphasis: {
              label: {
                show: true,
                fontSize: 14,
                fontWeight: 400,
                lineHeight:22,
              }
            },
            labelLine: {
              show: false
            },
            data: this.customerTrade,
          }
        ]
      };
      myChart.setOption(options)
      myChart.dispatchAction({type: 'highlight',seriesIndex: 0,dataIndex: index});
      // 当鼠标移入时，如果不是第一项，则把当前项置为选中，如果是第一项，则设置第一项为当前项
      myChart.on('mouseover',function(e){
        myChart.dispatchAction({type: 'downplay',seriesIndex: 0,dataIndex:0}); 
        if(e.dataIndex != index){            
          myChart.dispatchAction({type: 'downplay', seriesIndex: 0, dataIndex: index  });     
        }
        if(e.dataIndex == 0){
          myChart.dispatchAction({type: 'highlight',seriesIndex: 0,dataIndex:e.dataIndex});
        }
      });
      //当鼠标离开时，把当前项置为选中 
      myChart.on('mouseout',function(e){
          index = e.dataIndex;
          myChart.dispatchAction({type: 'highlight',seriesIndex: 0,dataIndex: e.dataIndex});    
      });
    },
    //类RFM区域分布图
    handleDistribution(){
      var myChart = this.$echarts.init(document.getElementById('distribution'));
      let max = ''
      this.RFMAreaMap = this.RFMAreaMap.reduce((prev,cur)=>{
        max = Math.max(cur[1],max)
        prev.push({
          value:cur,
          symbolSize:Math.floor(cur[1])*3
        });
        return prev;
      },[])
      max = Math.floor(max)*1.5
      const options = {
        color:"#22ADD9",
        tooltip: {
          trigger: 'axis'
        },
        grid: {
          left: '6%',
          right: '16%',
          bottom: '4%',
          top:"16%",
          containLabel: true
        },
        xAxis: {
          name: 'RFM值', 
          rotation: 90,
          nameLocation:'end',
          show:true,
          splitNumber: 4,
          axisLine:{
            show:false,
          },
          axisTick: {                                    //坐标轴刻度设置
            show: false,
            color:'#fff',
          },
          splitLine: {
            show:false,
          },
          axisLabel:{
            color:'#fff',
            show:true,
          },
          nameTextStyle:{
            color:`rgba(255,255,255,0.66)`,
            fontSize:'14',
          },
        },
        yAxis: {
          show:true,
          name: '访问次数',  
          nameLocation:'end',                     
          axisLine:{
            show:false,
          },
          axisLabel:{
            color:'#fff',
          },
          axisTick:{
            show:false,
          },
          nameTextStyle:{
            color:`rgba(255,255,255,0.66)`,
            fontSize:'14',
            // align: "right",
            display:'flex',
          },
          splitLine: {
            show:true,
            lineStyle: {                                //网格线样式
              color: '#344752',                        //网格线颜色
              width: 1,                                //网格线的加粗程度
              type: 'dashed'                            //网格线类型
            }
          },
        },
        series: [
          {
            symbolSize: 20,
            data:this.RFMAreaMap,
            type: 'scatter'
          }
        ]
      };
      myChart.setOption(options)
    },
    //初始化意向分析
    handleIntention(){
      var myChart = this.$echarts.init(document.getElementById('intention'));
      let max = 0;
      const value = this.customerIntention.data.reduce((prev,cur)=>{
        prev.push(cur.value);
        max = Math.max(max,cur.value)
        return prev;
      },[])
      this.customerIntention.data = this.customerIntention.data.reduce((prev,cur)=>{
        prev.push({
          name:cur.label,
          max:max*1.1
        });
        return prev;
      },[])
      const options = {
        legend: {
          show:false
        },
        tooltip: {
          trigger: "axis",
        },
        radar: {
          indicator: this.customerIntention.data,
          radius: 85,
          splitLine: {
            lineStyle: {
              color: ["transparent", "transparent", "transparent", "transparent"],
              width: 1,
            },
          },
          axisLine: {
            lineStyle: {
              color: "#22C1D9",
              width: 2,
            },
          },
          splitNumber: 5,
          splitArea: {
            areaStyle: {
              color: ["#024153","#002B38"],
            },
          },
        },
        series: [
          {
            type: 'radar',
            tooltip: {
              trigger: "item",
            },
            symbol: "circle",
            symbolSize: 5,
            itemStyle: {
              normal: {
                areaStyle: { type: "default" },
                color: "#48D1CC",
                borderColor: "#5ac3bd",
                shadowColor: "rgba(0,0,0,0.5)",
              },
            },
            data: [
              {
                value: value,
                name: "客商意向度分析",
              },
            ],
          }
        ]
      };
      myChart.setOption(options)
    }
  },
}
</script>

<style scoped>
.investment{
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left top;
  overflow: hidden;

  .bg-investment{
    background:URL("../../assets/images/investment/title.png");
    background-size: 100% 100%;
    background-position: center center;
  }

  .bg-investment-bg1{
    background:URL("../../assets/images/investment/bg1.png");
    background-size: cover;
  }

  .bg-investment-bg2{
    background:URL("../../assets/images/investment/bg2.png");
    background-size: cover;
  }

  .bg-investment-bg3{
    background:URL("../../assets/images/investment/bg3.png");
    background-size: 224px 189px;
    background-position: 54px 45px;
    background-repeat:no-repeat
  }

  .bg-investment-bt1-bg{
    background:URL("../../assets/images/investment/bottom1-bg.png");
    background-size: 180px 187px;
    background-position: 144px 47px;
    background-repeat:no-repeat
  }

  .bg-investment-bt1{
    background:URL("../../assets/images/investment/bottom1.png");
    background-size: cover;
  }

  .bg-investment-bt2{
    background:URL("../../assets/images/investment/bottom2.png");
    background-size: cover;
  }

  .bg-investment-bt3{
    background:URL("../../assets/images/investment/bottom3.png");
    background-size: cover;
  }

  .bg-investment-bt4{
    background:URL("../../assets/images/investment/bottom4.png");
    background-size: cover;
  }

  .bg-investment-bt4-bg{
    background:URL("../../assets/images/investment/bottom4-bg.png");
    background-size: 195px 180px;
    background-position: 133px 39px;
    background-repeat:no-repeat
  }

  .linear-border{
    border-image: linear-gradient(134deg, rgba(8, 71, 194, 1), rgba(98, 98, 98, 1), rgba(57, 57, 57, 1), rgba(8, 71, 194, 1)) 1 1;
  }
}
</style>